#theisland {
    background-image: url("../images/theislandbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#arklogo {
    filter: drop-shadow(0px 0px 5px black);
}
.button-gr {
    text-align: center;
}
.white-button {
    font-weight: bolder;
    border-width: medium;
    width: 300px;
    height: 50px;
    filter: drop-shadow(2px 4px 6px black);
}
.btn1 {
    animation: holdInvisible 2s, slideInFromLeft 2s 2s;
}
.btn2 {
    animation: holdInvisible 1s, slideInFromLeft 2s 1s;
}
.btn3 {
    animation: holdInvisible 0s, slideInFromLeft 2s 0s;
}
@keyframes holdInvisible {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
#server {
    background-image: url("../images/serverbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
#achivements {
    background-image: url("../images/achivementbackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    z-index: 100;
}